@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Emoji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Poppins&family=Lato&display=swap');

@font-face {
    font-family: 'Noto Color Emoji';
    src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
  }

*{
    font-family: 'Barlow','Noto Color Emoji','sans-serif';
    padding: 0;
    margin: 0;
}

body{
    background: #192732!important;
    overflow:auto;
    display: flex;
    flex-direction:column;
    min-height: 100vh;
}
ul{
    list-style: none;
}

@media screen and (max-width:470px) {
    .btn-project{
        width: 100%!important;
    }
    .text-name{
        font-size: 9px;
        
    }
    .text-badge{
        font-size: 11px!important;
    }
}